<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HACKDOC | TEAM</title>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/team-style.css">
    </head>
    <body>
        <div>
            <nav class="navbar  navbar-default  navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="">
                <img src="/images/hackdoc-logo.jpg" width="30" height="25"></a>
                <a class="navbar-brand" id="lol" href="">Hack<b>DOC</b></a> 
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarCollapse" class="navbar-collapse justify-content-start collapse in" aria-expanded="true">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="#about" onclick="document.getElementById('modal-wrapper').style.display='block'" class="nav-link" id="node">About</a></li>
                        <li class="nav-item"><a href="#contact/to/us" class="nav-link" id="node">Contact</a></li>
                    </ul>

<!-- ******************************search*************************************** -->

                    
                    
                    <form action="/search" method="GET" class="navbar-form form-inline" id="sb1">
                        <div class="input-group search-box">
                            <input type="text" id="search" class="form-control" placeholder="Search hospital..." name="searchhos" autocomplete="off">
                            <button id="search-button">Search</button>
                            <!-- <a href=""><span class="input-group-addon"><i class="material-icons"></i></span></a> -->
                        </div>
                    </form>

<!-- ********************************************************************* -->


                    <ul class="nav navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <a  class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1" id="lop" href="/auth/login" aria-expanded="false" style="text-align: center">Login</a>
                            <a  class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1" id="lop" href="/auth/signup" aria-expanded="false" style="text-align: center">Signup</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#"  class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1" id="lop" aria-expanded="false">Sign up</a>
                        </li> -->
                    </ul>
                </div>
            </nav>
        </div>
    <div id="modal-wrapper" class="modal">
        <form class="modal-content animate" >
            <h3 style="color: red;"> Who Are We</h3><br>
            1. At Hackdoc, we believe there is a better way to have a connection between the Hospitals and Patients.<br> 
            2. Generally, people lose their loved ones or their condition becomes serious just because of being unaware about the current scenario of hospitals.<br>
            3. Using this app, they can know about the currently available facilities within the hospital, like availability of ventilators, beds, ICU wards etc.,  around their locality. <br>
            4. On addition to this, people may also know about the symptoms and cure of the most common diseases. We are curious to help the society through our platform.<br>
            <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
        </form>
    </div>
    <div id="modal-wrapper1" class="modal">
        <form class="modal-content animate" id="m1">
            <h3 style="color: red;"> Terms and Conditions:</h3>
            <h4> Welcome to HackDoc!</h4>
            By accessing this app we assume you accept these terms and conditions.<br>
            Do not continue to use HackDoc if you do not agree to take all of the terms and conditions stated on this page.<br>
            You may access HackDoc for your own personal use subjected to restrictions set in these terms and conditions.<br><br>
            <h4> Hospital must:</h4>
            ->Be govt. registered. <br>
            ->Register themselves on our app by providing a valid proof.<br>
            ->Provide the absolute information about him/herself as well as about the hospital and treatment.<br>
            ->Update the provided information regulerly.<br><br>
            <h4>Users should not:</h4>
            ->Misuse the information from HackDoc.<br>
            ->Reproduce, duplicate or copy material from HackDoc.<br><br>
            <h4>Content Liability:</h4>
            We shall not be hold responsible for any content that appears on the app, as it would be as per provided by the hospital's authorities.<br>
            As it is related to health, We recommend you to verify the information provided from any of the reliable resource(may be a family doctor or someone else) before recommending to others and also using for their own.<br><br>
            <h4>Disclaimer:</h4>
            To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our app, and the use of this app. Nothing in this disclaimer would be:
            <br>
            ->responsible for your any personal injury;
            <br>
            ->responsible for fraud or fraudulent misrepresentation;
            <br>
            As long as the app and the information and services are provided free of charge, we will not be responsible for any loss or damage of any nature.
            <br><br>
            <span onclick="document.getElementById('modal-wrapper1').style.display='none'" class="close" title="Close PopUp">&times;</span>
        </form>
    </div>
    

<div class="container">
    <div class="row">
        <div class="heading"></div>
    </div>
</div>
    
    <div class="container"> 
        <div class="row">
            <div class="col-md-6 col-sm-12" id="r1">
                <div class="container" id="gen-info">
                    <img src="/images/prateek_octocat.jpg" class="profile-image">
                    <h1 class="fullname">Prateek Pandey</h1>
                    <p class="job">Web Designer</p>
                    <ul class="social-icons">
                        <li><a target="_blank" href="https://www.linkedin.com/in/prateek-pandey-25a8a6191/"><i class="fa fa-linkedin" aria-hidden="true" ></i></a></li>
                        <li><a target="_blank" href="https://github.com/pprockys"><i class="fa fa-github" aria-hidden="true" style="color: black;"></i></a></li>
                        <li><a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=pppandey1120@gmail.com&su=SUBJECT&body=BODY"><i class="fa fa-envelope" aria-hidden="true" style="color: red;"></i></a></li>
                    </ul> 
                </div>
            </div>
            <div class="col-md-6 col-sm-12" id="r1">
                <div class="container" id="gen-info">
                    <img src="/images/ayush_octocat.jpg" class="profile-image">
                        <h1 class="fullname">Ayush Avasthi</h1>
                        <p class="job">Web Designer</p>
                        <ul class="social-icons">
                            <li><a target="_blank" href="https://www.linkedin.com/in/ayush-avasthi-503826194/"><i class="fa fa-linkedin" aria-hidden="true" ></i></a></li>
                            <li><a target="_blank" href="https://github.com/avasthiayush"><i class="fa fa-github" aria-hidden="true" style="color: black;"></i></a></li>
                            <li><a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=avasthiayush22@gmail.com&su=SUBJECT&body=BODY"><i class="fa fa-envelope" aria-hidden="true" style="color: red;"></i></a></li>
                        </ul>
                </div>
            </div>
    
        </div>
    </div>
    <div class="container"> 
        <div class="row">
            <div class="col-md-6 col-sm-12" id="r1">
               <div class="container" id="gen-info" >
                <img src="/images/aman_octocat.jpg" class="profile-image">
                <h1 class="fullname">Aman Kumar Singh</h1>
                <p class="job">Web Designer</p>
                <ul class="social-icons">
                    <li><a target="_blank" href="https://www.linkedin.com/in/markamansingh/"><i class="fa fa-linkedin" aria-hidden="true" ></i></a></li>
                    <li><a target="_blank" href="https://github.com/maskmanlucifer"><i class="fa fa-github" aria-hidden="true" style="color: black;"></i></a></li>
                    <li><a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=amanmarksingh@gmail.com&su=SUBJECT&body=BODY"><i class="fa fa-envelope" aria-hidden="true" style="color: red;"></i></a></li>
                </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12" id="r1">
                <div class="container" id="gen-info">
                    <img src="/images/srishti_octocat.jpg" class="profile-image">
                    <h1 class="fullname">Srishti Kashyap</h1>
                    <p class="job">Web Designer</p>
                    <ul class="social-icons">
                        <li><a target="_blank" href="https://linkedin.com/in/srishti-kashyap-70059b14a/"><i class="fa fa-linkedin" aria-hidden="true" ></i></a></li>
                        <li><a target="_blank" href="https://github.com/gi7402/"><i class="fa fa-github" aria-hidden="true" style="color: black;"></i></a></li>
                        <li><a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=srish.iet@gmail.com.com&su=SUBJECT&body=BODY"><i class="fa fa-envelope" aria-hidden="true" style="color: red;"></i></a></li>
                    </ul>
              </div>
            </div>
    
        </div>
    </div>


    <br> <br>

<br> <br>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
<footer class="footer1" id="contact/to/us">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <a href="/team" style="color: white;"><i class="fa fa-users" aria-hidden="true"></i> Visit us </a>
               </div>
               <div class="col-xl-4">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hackdoc18@gmail.com&su=SUBJECT&body=BODY" style="color: white;"><i class="fa fa-envelope" aria-hidden="false" style="color: white;"></i> Mail us for any query</a>
               </div>
               <div class="col-xl-4">
                <a href="#terms&conditions" onclick="document.getElementById('modal-wrapper1').style.display='block'" style="color: white;">Terms &amp; Conditions</a>
               </div>
        </div>
    </div>
</footer>
<footer class="footer2">
    <div class="container">
        <div class="row">
            <div class=" col-xl-12">
                Copyright © 2020 <a href="/team" style="text-decoration: none; color:red;">unknown_bits</a>
             </div>
        </div>
    </div>
 </footer>
  <script src="/js/team.js"></script>

</body>
</html>