
	body{
		font-family: 'Varela Round', sans-serif;
	}
	a:hover{
        box-shadow: 4px 5px 5px rgba(231, 49, 49, 0.3);
    }
	::-webkit-scrollbar {
		width: 10px;
	  }
	  
	  ::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px grey; 
		border-radius: 10px;
	  }
	   
	  ::-webkit-scrollbar-thumb {
		background: red; 
		border-radius: 10px;
	  }
	  
	  ::-webkit-scrollbar-thumb:hover {
		background: #b30000; 
	  }
	.form-control {
		box-shadow: none;		
		font-weight: normal;
		font-size: 13px;
	}
	.form-control:focus {
		border-color: #33cabb;
		box-shadow: 0 0 18px rgba(34, 139, 238, 0.3);
	}
	
	.navbar {
		background: #fff;
		padding-left: 16px;
        padding-right: 30px;
        padding-bottom: 2px;
		border-bottom: 1px solid #dfe3e8;
		border-radius: 0;
     }
  
	.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
		padding-left: 10px;
		font-size: 20px;
		padding-right: 5px;
    }
    #lol{
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 30px;
    }
    #node{
        margin-top: 5px;
        margin-right: 10px;
    }
    
	.navbar .navbar-brand b {
		font-weight: bold;
		color: #33cabb;		
	}
	.navbar .form-inline {
        display: inline-block;
    }
	.navbar .nav li {
		position: relative;
	}
	.navbar .nav li a {
		color: #888;
	}
	.search-box {
        position: relative;
    }	
    .search-box input {
        padding-right: 35px;
		border-color: #dfe3e8;
        border-radius: 8px !important;
		box-shadow: none
    }
	.search-box .input-group-addon {
        min-width: 35px;
        border: none;
        background: transparent;
        position: absolute;
        right: 0;
        z-index: 9;
        padding: 7px;
		height: 100%;
    }
    .search-box i {
        color: #a0a5b1;
		font-size: 19px;
    }
	.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
		color: #fff;
		background: red;
		padding-top: 8px;
        padding-bottom: 7px;
        margin-left: 15px;
		vertical-align: middle;
        border: none;
        border-radius: 30px;
    }	
   
	.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
		color: #fff;
		outline: none;
		background: #33cabb;
	}
	.navbar .navbar-right li:first-child a {
		padding-right: 30px;
	}
	.navbar .nav-item i {
		font-size: 18px;
	}
	.navbar .dropdown-item i {
		font-size: 16px;
		min-width: 22px;
	}
	.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
		background: transparent !important;
	}	
	.navbar .nav .get-started-btn {
		min-width: 120px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.navbar ul.nav li.open > a.get-started-btn {
		color: #fff;
		background: #33cabb ;
	}
	.navbar .dropdown-menu {
		border-radius: 20px;
		border-color: #1de4e4;
		box-shadow: 0 12px 18px rgba(11, 119, 207, 0.5);
	}
	.navbar .nav .dropdown-menu li {
		color: #999;
		font-weight: normal;
	}
	.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
		padding: 8px 20px;
		line-height: normal;
	}
	.navbar .navbar-form {
		border: none;
	}
	.navbar .dropdown-menu.form-wrapper {
		width: 280px;
		padding: 20px;
		left: auto;
		right: 0;
        font-size: 14px;
	}
	.navbar .dropdown-menu.form-wrapper a {		
		color: #33cabb;
		padding: 0 !important;
	}
	.navbar .dropdown-menu.form-wrapper a:hover{
		text-decoration: underline;
	}
	.navbar .form-wrapper .hint-text {
		text-align: center;
		margin-bottom: 15px;
		font-size: 13px;
	}
	.navbar .form-wrapper  .btn, .navbar .form-wrapper .social-btn .btn:hover {
		color: #fff;
        margin: 0;
		padding: 0 !important;
		font-size: 13px;
		border: none;
		transition: all 0.4s;
		text-align: center;
		line-height: 34px;
		width: 47%;
		text-decoration: none;
    }	
	.navbar  .btn-primary {
		background: #33cabb;
	}
	.navbar  .btn-primary:hover {
		background: #33cabb;
	}
	.navbar  .btn-info {
		background: #64ccf1;
	}

	.navbar .form-wrapper .form-footer {
		text-align: center;
		padding-top: 10px;
		font-size: 13px;
	}
	.navbar .form-wrapper .form-footer a:hover{
		text-decoration: underline;
	}
	.navbar .form-wrapper .checkbox-inline input {
		margin-top: 3px;
	}
	
    #lll{
        margin-left: 60px;
    }
    .navbar .checkbox-inline {
		font-size: 13px;
	}
	.navbar .navbar-right .dropdown-toggle::after {
		display: none;
	}

	#search-button{
		background-color: red;
		border: none;
		color: white;
		border-radius: 20px;
		margin: 0px 0 0px 20px;
		padding: 3px 15px 3px 15px ;
		outline: none;
	}
    #search-button:hover{
		background-color: #33cabb;
		box-shadow: 4px 5px 5px rgba(231, 49, 49, 0.3);;
	}

	@media (min-width: 1200px){
		.form-inline .input-group {
			width: 300px;
			margin-left: 30px;
		}
	}


	
.heading {
		color: black;
		font-size: 30px;
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
		font-family: 'Josefin Sans', sans-serif;
		text-transform: uppercase;
		letter-spacing: 5px;
		text-align: center;
		white-space: pre-wrap;
	}
 
.card {
	text-align: center;
	padding : 10px 10px;
    width: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
	transition: transform 0.5s;
	border: 1.5px solid rgb(39, 172, 154);
	box-shadow: 5px 5px 20px rgba(31, 240, 240, 0.4);
	border-radius: 20px;
	margin-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

@keyframes cardAnim {
    0% {opacity: 0}
    100% {opacity: 1}
}

#a1 {
    animation: cardAnim 0.1s 0.3s backwards;
}

#a2 {
    animation: cardAnim 0.3s 0.6s backwards;
}

#a3 {
    animation: cardAnim 0.6s 0.9s backwards;
}

.card:hover {
    transform: scale(1.1);
}

.card button {
    width: 120px;
    padding: 7px;
    margin: 10px 0;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color: #eee;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
}


.card:hover button {
    animation: buttonRotation 2s 1s linear;
}

@keyframes buttonRotation {
    0% {transform: scale(1) rotateZ(0)}
    5% {transform: scale(1.2) rotateZ(5deg)}
    10% {transform: scale(1.2) rotateZ(-5deg)}
    15% {transform: scale(1.2) rotateZ(5deg)}
    20% {transform: scale(1.2) rotateZ(-5deg)}
    25% {transform: scale(1.2) rotateZ(5deg)}
    30% {transform: scale(1.2) rotateZ(-5deg)}
    35% {transform: scale(1.2) rotateZ(5deg)}
    40% {transform: scale(1.2) rotateZ(-5deg)}
    45% {transform: scale(1.2) rotateZ(5deg)}
    50% {transform: scale(1.2) rotateZ(-5deg)}
    55% {transform: scale(1.2) rotateZ(5deg)}
    60% {transform: scale(1.2) rotateZ(-5deg)}
    65% {transform: scale(1.2) rotateZ(5deg)}
    70% {transform: scale(1.2) rotateZ(-5deg)}
    75% {transform: scale(1.2) rotateZ(5deg)}
    80% {transform: scale(1.2) rotateZ(-5deg)}
    85% {transform: scale(1.2) rotateZ(5deg)}
    90% {transform: scale(1.2) rotateZ(-5deg)}
    95% {transform: scale(1.2) rotateZ(5deg)}
    100% {transform: scale(1) rotateZ(0)}
}

#myBtn {
	display: none; 
	position: fixed; 
	bottom: 20px; 
	right: 10px; 
	z-index: 99; 
	border: none; 
	outline: none; 
	 background-color: #fff;  
	color: black;
	cursor: pointer; 
	padding: 15px; 
	border-radius: 10px; 
	font-size: 18px; 
	box-shadow: 1px 5px 20px 5px rgba(0, 0, 0, .4);
  }
  
  #myBtn:hover {
	background-color: #33cabb;
	box-shadow: 1px 15px 50px 10px rgba(7, 92, 172, 0.4);
	border-radius: 10px; 
  }

.footer1 {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(20, 20, 20);
	color: white;
	text-align: center; 
	margin-left: 0;
	border-bottom: 1px solid black;
  }
  .footer2 {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center; 
	margin-left: 0;
  }


	
	 
 .modal {
	display:none;
	position: fixed;
	background-color: white;
	left: 25%;
	top: 19%;
	width: 50%;
	height: 50%;
	overflow: auto;
	border-radius: 30px;
	box-shadow: 10px 10px 20px rgba(71, 194, 231, 0.9);
	}
	
	
	 
	.modal-content {
	background-color: white;
	border: 0px solid black;
	width: 100%;
	height: 100%;
	/* top: 20px;
	left 50px; */
	overflow: none;
	text-align: center;
	padding: 50px 80px 50px 60px;
	
	}


	#modal-wrapper1 {
        display:none;
        position: fixed;
        background-color: white;
        left: 15%;
        top: 19%;
        width: 70%;
        height: 60%;
        overflow: none;
        border-radius: 30px;
        box-shadow: 10px 10px 20px rgba(71, 194, 231, 0.9);
        }
    #m1 {
        background-color: white;
        border: 0px solid black;
        width: 100%;
        height: 100%;
        top: 20px;
        justify-content: left;
        overflow: none;
        text-align: center;
        padding: 10px 10px 10px 10px;
        
        }
	
	
	.close {
	position: absolute;
	right: 25px;
	top: 10px;
	color: #000;
	font-size: 35px;
	font-weight: bold;
	}
	.close:hover,.close:focus {
	color: red;
	cursor: pointer;
	}
	
	
	.animate {
	animation: zoom 0.6s
	}
	@keyframes zoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
	}

@media (max-width: 990px){
	.navbar .dropdown-menu.form-wrapper {
		width: 100%;
		padding: 10px 15px;
		background: transparent;
		border: none;
	}
	.navbar .form-inline {
		display: block;
	}
	.navbar .input-group {
		width: 100%;
	}
	.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
		display: block;
    }
    #lop{
        margin: auto;
    }
	#lll{
		margin: auto;
	}
	.heading {
		color: black;
		font-size: 30px;
		position: relative;
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
		font-family: 'Josefin Sans', sans-serif;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-align: center;
		white-space: pre-wrap;
	}
	.card{
		margin-left: 70px;
		margin-right: 70px;
	}
	#sb1{
		margin: 5px 10px 0px 0px;
		padding-bottom: 8px;
		padding-top: 8px;
	 }
    
}
@media (max-width: 768px){
   .card{
	   margin-left: 90px;
   }
}


@media (max-width: 487px){
	.card{
		margin-left: 40px;
	}
 }
